<h1>User Profile</h1>



<div class="user">
  
  <h1>
    <%= @user.name %>
  </h1> 

  <table>
  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>
  </table>


<div>
  <%= image_tag @user.avatar.url %>
</div>